@attribute [Route(RouteConst.Routes.RegisterSuccess)]
@using Microsoft.AspNetCore.Http
@inject WebApiRestClient WebApiClient
@inject ILocalStorageService LocalStorageService
@inject IExtendedNavigationManager NavigationManager

<h1>Successfully Registered</h1>


@code {

    private CancellationTokenSource cancellationToken = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await GetData();
            StateHasChanged();
        }
    }
    private async Task GetData()
    {
        
    }
}
