.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height:100%;
}

main {
    flex: 1;
    background: #FFFFFF;
}
footer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #443652;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    background-image: linear-gradient(to bottom, #d05ea1,#443652 );
}
.social-icon {
    height: 1.5rem;
    width: 1.5rem;
    margin: 1px;
}
label {
    color: black;
}

.sidebar {
    background-image: linear-gradient(to bottom, #302C33 20%, #d05ea1); /*linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 100%);*/
    flex-direction: row;
}
.sidebar-header {
    top: 0;
    z-index: 1;
}
.jellyicon {
    height: 12rem;
    width: 100%;
    top: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to left, #d05ea1 10%,#302C33 );
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
