/* _content/WebFrontEnd/UI/Dialog/ChangeUserPasswordDialog.razor.rz.scp.css */
.label-t[b-3x4ny45gvv] {
    color: black;
}
.ttt[b-3x4ny45gvv]{
    background: #000000;
    height:4rem;
    width:4rem;
}
table.rule1 tr td[b-3x4ny45gvv] {
    background-color: #ff0000;
}

.mud-input-control > .mud-input-control-input-container > .mud-input-label-inputcontrol.rule2[b-3x4ny45gvv] {
    color: red;
}
/* _content/WebFrontEnd/UI/Dialog/ManageUserDialog.razor.rz.scp.css */
.label-t[b-o2zkf5ughc] {
    color: black;
}
.ttt[b-o2zkf5ughc]{
    background: #000000;
    height:4rem;
    width:4rem;
}
table.rule1 tr td[b-o2zkf5ughc] {
    background-color: #ff0000;
}

.mud-input-control > .mud-input-control-input-container > .mud-input-label-inputcontrol.rule2[b-o2zkf5ughc] {
    color: red;
}
/* _content/WebFrontEnd/UI/MainLayout.razor.rz.scp.css */
.page[b-73pq0vfbl9] {
    position: relative;
    display: flex;
    flex-direction: column;
    height:100%;
}

main[b-73pq0vfbl9] {
    flex: 1;
    background: #FFFFFF;
}
footer[b-73pq0vfbl9] {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #443652;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    background-image: linear-gradient(to bottom, #d05ea1,#443652 );
}
.social-icon[b-73pq0vfbl9] {
    height: 1.5rem;
    width: 1.5rem;
    margin: 1px;
}
label[b-73pq0vfbl9] {
    color: black;
}

.sidebar[b-73pq0vfbl9] {
    background-image: linear-gradient(to bottom, #302C33 20%, #d05ea1); /*linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 100%);*/
    flex-direction: row;
}
.sidebar-header[b-73pq0vfbl9] {
    top: 0;
    z-index: 1;
}
.jellyicon[b-73pq0vfbl9] {
    height: 12rem;
    width: 100%;
    top: 0;
}

@keyframes spin-b-73pq0vfbl9 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.top-row[b-73pq0vfbl9] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to left, #d05ea1 10%,#302C33 );
}

    .top-row[b-73pq0vfbl9]  a, .top-row .btn-link[b-73pq0vfbl9] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-73pq0vfbl9] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-73pq0vfbl9] {
        display: none;
    }

    .top-row.auth[b-73pq0vfbl9] {
        justify-content: space-between;
    }

    .top-row a[b-73pq0vfbl9], .top-row .btn-link[b-73pq0vfbl9] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-73pq0vfbl9] {
        flex-direction: row;
    }

    .sidebar[b-73pq0vfbl9] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-73pq0vfbl9] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-73pq0vfbl9], article[b-73pq0vfbl9] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/WebFrontEnd/UI/Pages/Dashboard.razor.rz.scp.css */
.table-container[b-yr2r9akneq] {
    max-height: 200px; /* Maximale Höhe für die Tabelle */
    overflow-y: scroll; /* Vertikale Scrollleiste hinzufügen, wenn nötig */
}
table[b-yr2r9akneq] {
    height: 200px;
    width: 100%;
    border-collapse: collapse;
}
/* _content/WebFrontEnd/UI/SharedComponents/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-k4k7aw7ub7] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-k4k7aw7ub7] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}
.nav[b-k4k7aw7ub7]{
    color: white;
}
.navbar-brand[b-k4k7aw7ub7] {
    font-size: 1.1rem;
}

div > a[b-k4k7aw7ub7]{
    color: white;
}

.oi[b-k4k7aw7ub7] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}


    .nav-item:first-of-type[b-k4k7aw7ub7] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-k4k7aw7ub7] {
        padding-bottom: 1rem;
    }

    .nav-item[b-k4k7aw7ub7]  a {
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-k4k7aw7ub7]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-k4k7aw7ub7]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-k4k7aw7ub7] {
        display: none;
    }

    .collapse[b-k4k7aw7ub7] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-k4k7aw7ub7] {
        /* Allow sidebar to scroll for tall menus */
        overflow-y: auto;
    }
}
