.label-t {
    color: black;
}
.ttt{
    background: #000000;
    height:4rem;
    width:4rem;
}
table.rule1 tr td {
    background-color: #ff0000;
}

.mud-input-control > .mud-input-control-input-container > .mud-input-label-inputcontrol.rule2 {
    color: red;
}
