@page "/"
@inject ILocalStorageService LocalStorageService
@inject NavigationManager NavigationManager
@inject ISessionStorage SessionStorage
@inject WebApiRestClient Rest

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code
{
    private SessionDTO _session;
    private CancellationTokenSource cancellationToken = new();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var auth = await LocalStorageService.GetDeserializedJsonItemFromKey<AuthDTO>(Shared.Const.AuthorizationConst.SessionStorage.AuthorizationKey);
        if (auth!=null && !auth.IsTokenExpired)
        {
            WebApiRestClient.CurrentWebApiSession = auth;
            _session = await SessionStorage.GetSession(cancellationToken.Token);
            var data = _session.General;
            NavigationManager.NavigateTo(data.LastRoute);
        }

    }
}
