.label-t[b-96ihju2all] {
    color: black;
}
.ttt[b-96ihju2all]{
    background: #000000;
    height:4rem;
    width:4rem;
}
table.rule1 tr td[b-96ihju2all] {
    background-color: #ff0000;
}

.mud-input-control > .mud-input-control-input-container > .mud-input-label-inputcontrol.rule2[b-96ihju2all] {
    color: red;
}
