.navbar-toggler[b-2jkij9op13] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-2jkij9op13] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}
.nav[b-2jkij9op13]{
    color: white;
}
.navbar-brand[b-2jkij9op13] {
    font-size: 1.1rem;
}

div > a[b-2jkij9op13]{
    color: white;
}

.oi[b-2jkij9op13] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}


    .nav-item:first-of-type[b-2jkij9op13] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-2jkij9op13] {
        padding-bottom: 1rem;
    }

    .nav-item[b-2jkij9op13]  a {
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-2jkij9op13]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-2jkij9op13]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-2jkij9op13] {
        display: none;
    }

    .collapse[b-2jkij9op13] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-2jkij9op13] {
        /* Allow sidebar to scroll for tall menus */
        overflow-y: auto;
    }
}
